.assets__mainWrapper{
    margin: 10px 10px 10px 10px; 
    width: -webkit-fill-available;
    overflow-y: overlay;
    height: calc(100vh - 100px);
}

.assets__mainWrapper__tableToolsWrapper--tools{
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    width: 97%;
}
.asset__mainWrapper--rowsInfo{
    color: rgb(104, 104, 104);
    font-size: 14px;
}
.assets__mainWrapper_addAssetButton{
    cursor: pointer;
    background-color: rgb(129, 151, 173);
    color: white;
    font-size: 14px;
    padding: 7px;
}
.assets__mainWrapper__tableWrapper {
    width: 97%; /* Dopasowanie do szerokości rodzica */
    max-width: 100%; /* Zapobiega rozszerzaniu tabeli poza rodzica */
    overflow-x: auto; /* Przewijanie poziome tylko dla tabeli */
    box-sizing: border-box; /* Uwzględnienie paddingu i marginesów */
}
