.AppSettings__wrapper{
    min-height: 100%;
    overflow-y: scroll;
}
.AppSettings__section{
    width: 100%;
    margin-bottom: 10px;
}
.AppSettings__general-title{
    height: 25px;
    background-color: lightgray;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;
}
.field-modification{
  
    margin-top: 10px;
    margin-left: 10px;
    span{
        font-size: 18px;
    }
}
.assets-box {
    margin-top: 5px;
    margin-left: 10px;
    width: 250px;
}

.asset__categories div {
    border: 1px solid lightgray;
    border-bottom: none; /* Usunięcie dolnego borderu dla wszystkich */
}

/* Ostatni element ma pełne obramowanie */
.asset__categories div:last-child {
    border-bottom: 1px solid lightgray;
}
.category-item {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Rozstawia elementy na boki */
    align-items: center; /* Wyrównuje pionowo */
    border: 1px solid lightgray;
    padding: 2px;
    height: 20px;
    span{
      max-width: calc(100% - 25px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}
@keyframes pulseColor {
    0% { color: rgb(63, 63, 63); }
    50% { color: rgb(36, 241, 0); }
    100% { color: rgb(63, 63, 63); }
  }
  
  .category-item input {
    border: none;
    margin: 0;
    padding: 0;
    height: 18px;
    width: 170px;
    font-size: 18px;
    color: rgb(63, 63, 63);
    animation: pulseColor 1s infinite;
  }
  .category-item__icon{
    cursor: pointer;
  }
  .settings-dropdown{
    border: none;
  }
  .appSettings-spacer{
    height: 25px;
  }
  .settings-dropdown-settings{
    height: 20px;
    margin: 0;
  }
  .settings-dropdown-settings{
    width: 100%;
    border: none;
  }
  .preview{
    color: gray;
    min-height: 20px;
  }